<div class="about">
    <h6>About Me</h6>

    <table class="table">
        <tr>
            <td>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </td>
            <td>
                <div class="card" style="width: 90%;">
                    
                    <div class="card-body">
                        
                         <tr>
                                <td>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <span class="input-group-text" id="basic-addon1">Name</span>
                                                    </td>
                                                    <td>
                                                        <span class="input-group-text" id="basic-addon1">Phani Devarapu</span>
                                                    </td>
                                                    <td>
                                                        <span class="input-group-text" id="basic-addon1">Education</span>
                                                    </td>
                                                    <td>
                                                        <span class="input-group-text" id="basic-addon1">Master of Engineering</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="input-group-text" id="basic-addon1">Email</span>
                                                    </td>
                                                    <td>
                                                        <span class="input-group-text" id="basic-addon1">phanidevarapumacs@gmail.com</span>
                                                    </td>
                                                    <td>
                                                        <span class="input-group-text" id="basic-addon1">Location</span>
                                                    </td>
                                                    <td>
                                                        <span class="input-group-text" id="basic-addon1">Montreal, QC, CA</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="input-group-text" id="basic-addon1">Contact</span>
                                                    </td>
                                                    <td>
                                                        <span class="input-group-text" id="basic-addon1">514 919 1455</span>
                                                    </td>
                                                </tr>

                                            </table>

                                         
                                        </div>
                                       
                                    </div>

                                </td>
                                
                            </tr>
                    </div>
                  </div>

            </td>
                 
        </tr>
      
    </table>
</div>  
