<div class="skill">
    <h6>My Skills</h6>

    <table class="table">
        <tr>
            <td>
                <div class="card" style="width: 18rem;">
      
                    <div class="card-body">
                      <h5 class="card-title">Techonologies</h5>
                      <ul class="list-group">
                        <li class="list-group-item">Java</li>
                        <li class="list-group-item">Spring Boot</li>
                        <li class="list-group-item">Angular</li>
                     </ul>
                     
                    </div>
                  </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
      
                    <div class="card-body">
                      <h5 class="card-title">Tools & Platforms</h5>
                      <ul class="list-group">
                        <li class="list-group-item">AWS</li>
                        <li class="list-group-item">Eclipse</li>
                        <li class="list-group-item">Visual Studio Code</li>
                        <li class="list-group-item">Github</li>
                     </ul>
                     
                    </div>
                  </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
      
                    <div class="card-body">
                      <h5 class="card-title">Methodologies</h5>
                      <ul class="list-group">
                        <li class="list-group-item">Agile</li>
                        <li class="list-group-item">Waterfal</li>
                        
                     </ul>
                     
                    </div>
                  </div>
            </td>
        </tr>
    </table>

    

</div>