<div class="timeline">
<h6>Timeline</h6>

<div class="row">
    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        

        <ul class="timeline">
            <li>
                <h5><strong>Systems Engineer</strong> </h5>
                <em class="font-italic">Tata Consultancy Services, India<br></em>
                <p class="year p-2">2017 - 2019</p>
                <em class="font-italic">job explanation<br></em>
            </li>
            <li>
                <h5><strong>Assistant System Engineer</strong> </h5>
                <em class="font-italic">Tata Consultancy Services, India<br></em>
                <p class="year p-2">2016 - 2017</p>
            </li>
            
        </ul>
    </div>
    

</div>